<!DOCTYPE html>
<html>

<head>
  <title>
    <%= settings.title %>
  </title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' type='text/css' />
  <link rel='stylesheet' href='/stylesheets/normalize.css' />
  <link rel='stylesheet' href='/stylesheets/skeleton.css' />
  <link rel='stylesheet' href='/stylesheets/index.css' />
  <link rel='stylesheet' href='/stylesheets/header.css' />
  <link rel='stylesheet' href='/stylesheets/footer.css' />
  <link rel='stylesheet' href='/stylesheets/about.css'>
</head>

<body>
  <div class="container">
    <div class="row">
      <% include header %>
    </div>

    <section class="our-strength">
      <div class="strength-title-zn">
        保证服务品质，满足客户要求
      </div>
      <div class="quality-title-en">
        <span> GUARANTEE QUALITY AND MEET REQUIREMENTS </span>
      </div>

      <div class="quality-images">
        <img src="/images/quality/1.png" width="100" , height="100">
        <img src="/images/quality/2.png" width="120" , height="120">
        <img src="/images/quality/3.png" width="100" , height="100">
      </div>

      <div class="quality-context1">
        先进的管理体系 卓越的服务模式
      </div>

      <div class="quality-context2">
        中兰环保拥有丰富的销售经验以及专业知识，为客户提供产品质量咨询及技术支持服务，高效能的设备管理，与后勤支持系统，让客户随时随地都能享受到中兰环保的顾问式经营模式及一站式个性服务。
      </div>
    </section>

    <section>
      <div>
        <h5 class='about-title-zn'> 关于我们 </h5>
        <h6 class='about-title-en'>
          <span> ABOUT US </span>
        </h6>
      </div>

      <div class="picture-display">
        <span class="about-context1">公司成立以来，重点在工业废气及粉尘处理领域开拓进取，环保污染防治领域积累了丰富的经验，承建了近300个环保项目为政府和大企业客户提供创新技术和环境治理方案，是目前国内最知名、最具实力的环境治理企业之一。</span>
        <span class="about-context2">中兰环保务实创新，结合社会环境特点及需求，在环保污染防治、工业废气处理、粉尘处理、污染修复、污水修复，污水处置等领域提供采购-施工（PC）一体化模式、工程总承包EPC模式、建造-运营-移交BOT模式。</span>
        <span class="about-context3">中兰环保是中国城市环境卫生协会常务理事单位、中国化工施工企业协会理事单位、国际土工合成材料施工协会（IAGI）会员单位等，单位多次被省级工商部门评为“守合同重信用”单位，连续4年获得环境企业竞争力大奖和多项工程获得省市优质工程奖。</span>
        <span class="about-context4">本着“专注，专业，责任，坚持”的坚定信念，实现社会、环境以及利益相关者的和谐共赢。公司坚持“依靠科技、严格管理、精心制造、争创一流”的质量方针，贯彻“质量就是效益，质量是企业命脉”的原则。</span>
      </div>
    </section>

    <section class="our-strength">
      <div class="strength-title-zn">
        我们的实力
      </div>
      <div class="strength-title-en">
        <span> OUR STRENGTH </span>
      </div>
      <div class="strength-context1">
        <span class="four columns">50</span>
        <span class="four columns">300</span>
        <span class="four columns">4</span>
      </div>
      <div class="strength-context2">
        <span class="four columns">50名专业研发人员参与技术创新</span>
        <span class="four columns">服务近300个环保项目</span>
        <span class="four columns">连续4年获得环境企业大奖</span>
      </div>
    </section>

    <section>
      <div>
        <h5 class='about-title-zn'> 荣誉资质 </h5>
        <h6 class='about-title-en'><span class="b1">ABOUT ZHONGLAN</span></h6>
      </div>
      <div class="images">
        <img src="/images/honer/1.png">
        <img src="/images/honer/2.png">
        <img src="/images/honer/3.png">
      </div>
      <div class="images">
        <img src="/images/honer/4.png">
        <img src="/images/honer/5.png">
      </div>
    </section>



    <div class="row">
      <% include footer %>
    </div>
  </div>

</body>

</html>