<footer>
    <div class="row">
        <dl class="six columns footer-center">
            <dd>
                <span><img src="/images/contact.png" width="30" , height="30" />&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="footer-contact">联系我们</span>
            </dd>
            <dd>电话&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0579-82361358</dd>
            <dd>传真&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0579-82361358</dd>
            <dd>手机&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;18006558385</dd>
            <dd>联系人&nbsp;&nbsp;叶小芳</dd>
        </dl>

        <dl class="six columns footer-center">
            <dd>
                <span><img src="/images/qa.png" width="30" , height="30" /></span>
                <span class="footer-questionandanswer">常见问题解答</span>
            </dd>
            <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;服务进度汇报</dd>
            <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;提升企业竞争力</dd>
            <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;管理服务过程</dd>
        </dl>
    </div>
    <div class="copyrightbackground twelve row">
        <span class="copyright-font">浙江金华中兰环保科技有限公司 版权所有</span>
    </div>
</footer>