<header>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
  <div class="row">
    <a href="./">
      <div class="three columns title-images">
        <img src="/images/icon.png" width="45" height="60" />
        <img src="/images/icon2.png" width="90" height="50" />
      </div>
    </a>
    <div class="six columns">
      <p class="zh-title">浙江金华中兰环保科技有限公司</p>
      <p class="en-title">ZheJiang Jinhua Zhonglan Environmental Protection Technology CO.LTD</p>
    </div>
    <div class="three columns title-contact">
      <div class="contact-text">联系电话</div>
      <div class="contact-number">400-888-888</div>
    </div>
  </div>
  <div class="row">
    <nav class="twelve columns nav">
      <a href="/">主页</a>
      <a href="/about">公司简介</a>
      <!-- <a href="/case">成功案例</a> -->
      <a href="/product">产品介绍</a>
    </nav>
  </div>
</header>
<script type="text/javascript" src='/javascripts/header.js'></script>